.flex {
 display: flex
}
.inline--block {
  display: inline-block
}
.block {
  display: block
}
.flex--1 {
  flex: 1
}
.flex--2 {
  flex: 2
}
.flex--3 {
  flex: 3
}
.flex--4 {
  flex: 4
}
.flex--5 {
  flex: 5
}
.flex--jcenter {
  display: flex
  justify-content: center
}
.flex--acenter {
  display: flex 
  align-items: center
}
.flex--bcenter {
  display: flex
  justify-content: center
  align-items: center
}
.flex--space--between {
  display flex
  justify-content: space-between
}
.flex--space--around {
  display flex
  justify-content: space-around
}

.position--r {
  position relative
}
.position--a {
  position absolute
}
.height--100 {
  height 100%
}
.width--100 {
  width: 100%
}
.both--100 {
  width 100%
  height 100%
}
.auto--margin {
  margin: 0 auto
}
.text--success {
  color: #67C23A  
}
.text--primary {
  color: #409EFF  
}
.text--warning {
  color: #E6A23C  
}
.text--danger {
  color: #F56C6C  
}
.text--info {
  color: #909399  
}
.box--content {
  box-sizing: content-box
}
.box--content {
  box-sizing: border-box
}
