primary = #409EFF // primary theme color (light blue)
warning = #E6A23C // waring theme color (red)
success = #67C23A
danger = #F56C6C
info = #909399
bgcolor = #909399
fColor = #303133 // font-color-normal (light-balck)
gray1 = #606266
gray2 = #909399
gray3 = #C0C4CC
border1 = #DCDFE6
border2 = #E4E7ED
border3 = #EBEEF5
border4 = #F2F6FC