ftls = 12px // font-size less
ftmd = 14px // font-size middle
ftlg = 16px // font-size large
ftxg = 18px // font-size x-large
fth3 = 20px // font-size h3
fth2 = 25px // font-size h2
fth1 = 30px // font-size h1